.book-container {
    width: 30%;
    min-height: 350px;
    min-width: 300px;
    margin: 10px auto;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    border: solid 2px #d3ccb0;
    border-radius: 4px;
    background: #d3ccb03f;
    transition: 0.4s;

    &:hover {
        background: #ddc9793f;
    }

    .book-title {
        font-size: 20px;
        height: 30%;
    }

    .book-img {
        height: 70%;
        width: 30%;
        margin: 10px auto;

        @media (max-width: 400px) {
            width: 50%;
        }
    }

}