.book-container {
    width: 30%;
    min-height: 350px;
    min-width: 300px;
    margin: 10px auto;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    border: solid 2px #d3ccb0;
    border-radius: 4px;
    background: #d3ccb03f;
    transition: 0.4s;

    &:hover {
        background: #ddc9793f;
    }

    .book-title {
        padding: 0 5px;
        font-size: 20px;
        text-overflow: ellipsis;
        letter-spacing: 0.1rem;
        // white-space: nowrap;
        overflow: hidden;
        color: #313235;
        font-weight: 600;
        height: 30%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .book-img {
        height: 70%;
        width: 90%;
        max-width: 10rem;
        margin: 10px auto;

    }

}